@import "~bootstrap/less/bootstrap";

#monthOperations {
  width: 400px;
  .day {
    background-color: @gray-dark;
    color : white;
    padding-left: 5px;
  }
  // position: relative;

  .add {
    @operationIconSize : 50px;
    @operationIconFaSize : 30px;
    width: @operationIconSize;
    height: @operationIconSize;
    // position: sticky;
    // botom:0px;
    // right: 0px;
    a {
      display: table;
      width:@operationIconSize;
      height: @operationIconSize;
      background-color: lightgreen;
      border-radius: 50%;
      .fa {
        vertical-align: middle;
        display: table-cell;
        font-size: @operationIconFaSize;
        text-align: center;
      }
    }
  }
}
